astroid==2.5.1
click==8.1.7
colorama==0.4.4
emoji==1.7.0
Flask==2.2.5
flask-wtf==1.2.1
importlib-metadata==7.0.2
isort==5.7.0
itsdangerous==2.1.2
Jinja2==3.0.0
lazy-object-proxy==1.5.2
MarkupSafe==2.1.5
mccabe==0.6.1
mysql-connector-python==8.0.21
protobuf==3.18.3
pylint==2.7.2
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
werkzeug==3.0.1
wrapt==1.12.1
WTForms==3.0.0a1
zipp==3.17.0
